- content_for :title do
  = @category.name

%ul
  %div.banner
    %h2= @category.name
    = @category.subject_area

  - if @offset
    - terms = @category.terms.offset(20 * @offset).take(20)
  - else
    - terms = @category.terms.take(20)

  - terms.each do |term|
    %li.list_a_term
      %p
        %a{href: "/terms/#{term.id}"}= "#{term.name}:"
        = term.definition
      %p
        = "Author: #{term.author}"
      %div.web_links_show
        %p
          External Resources:
        %ul
          - term.web_links.each do |link|
            %li
              %a{ href: "#{link.url}"}
                = link.description

  %form{ name: "term_page", action: "/categories/#{@category.id}" }
    - (1..@pages).each do |value|
      %button{ name: "page_number", value: "#{value - 1}" }
        = value
