- content_for :title do
  = @term.name
  Edit

%form.term_create{ name: "term_edit", action: "/terms/#{@term.id}", method: "post"}
  %input{ name: "_method", value: "put", type: "hidden" }
  %label
    Name:
    %input{type: "text", name: "term[name]", value: "#{@term.name}" }
  %label
    Definition:
    %textarea{rows: "5", name: "term[definition]" }
      = @term.definition
  %label
    Author:
    %input{type: "text", name: "term[author]", value: "#{@term.author}" }
  %label
    Web Link:
    %input{type: "text", name: "term[web_link]", value: "#{@term.web_link}" }
  %label
  %div.category_checkboxes
    - @categories.each do |category|
      %div.cat_with_box
        =category.name
        - if @term.category == category
          %input{type: "checkbox", value: "#{category.id}", name: "term[category_id]", checked: "true"}
        - else
          %input{type: "checkbox", value: "#{category.id}", name: "term[category_id]"}
  %div.create_save
    %input{type: "submit", value: "Save"}
