- content_for :title do
  = @term.name

%div.list_a_term
  %p
    %strong= "#{@term.name}:"
    = @term.definition
  %div.author_link
    %p
      = "Author: #{@term.author}"
    %a{href: "#{@term.web_link}"} Explore
